@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareNeo-Variable';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}


.zzim1{
    position: fixed;
    top: 110px;
    right: calc(50% - 500px);
    z-index: 900;
    border: 1px solid #bbb;
    padding: 10px;
    background-color: #fff;
}
.zzim2{
    font-size: 12px;
    font-weight: 600;
    color: rgb(102, 102, 102);
    text-align: center;
    margin-bottom: 8px;
}
.zzim1 i{
    color:rgb(248, 85, 85);
}
.zzim1 a{
text-align: center;
display: block;
width: 100%;
}

.upbtn{
    cursor: pointer;
    position: fixed;
    top: 180px;
    right: calc(50% - 500px);
    z-index: 900;
    border: 1px solid #bbb;
    padding: 10px;
    width:67px;
    background-color: #fff;
}
.upbtn2{
    font-size: 12px;
    font-weight: 600;
    color: rgb(102, 102, 102);
    text-align: center;
}


.header-wrap {
    margin: 0 auto;
    width: 1519px;
    height: 80px;
    background-color: antiquewhite;
}

header {
    width: 1000px;
    height: 100%;
    line-height: 80px;
    margin: 0 auto;
}

.header-logo {
    width: 150px;
    height: 100%;
    float: left;
    cursor: pointer;
}

.header-login {
    width:400px;
    float: right;
    font-size: 18px;
}

.header-login p {
    cursor: pointer;
    float: right;
}

.header-menu {
    width: 100%;
}
.logoutbtn{
    height: 40px; float: left;width: 120px; margin-left: 20px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}
.logoutbtn:hover{
    color:#bbb;
}
.logoutbtn:hover i{
    border: 1px solid #bbb;
}

.header-menu li {
    float: left;
    width: 100px;
    text-align: center;
    font-weight:bold;
}

.fa-user {
    border: 1px solid black;
    border-radius: 100px;
    padding: 5px;
}


.header-menu li a:hover {
    color: #afacac;
}



#loginbtn:hover i{
  color:#bbb;
}
/* 검색바 */

.searchbar {
    width: 250px;
    height: 40px;
    float: left;
    position: relative;
    margin-top: 20px;
}

.searchbar .searchbox {
    float: right;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 100px;
    text-indent: 10px;
    transform: rotate(0.04deg);
}

.searchbar i {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

/* 검색바 */


#logoutbtn{
    height: 80px;
}





.goregi{
  float:right;
  background-color: #00FCD1;
  padding: 5px;
  border-radius: 100px;
  margin-top: 10px;
  color: #fff;
  margin-bottom: 20px;
  margin-right: 40px;
  font-size: 14px;
}


/* 메인에 새로넣기 */

.regicontainer{
  width:1519px;
  margin: 0 auto;
}
.regiform h1{
  text-align: center;
  margin-bottom: 50px;
}
.regiform{
  position: relative;
  padding:20px;
  border: 1px solid #bbb;
margin: 0 auto;
  width:500px;
  height: 450px;
  margin-top: 100px;
}


.left-regi{
  width:100px;
  height: 30px;
  line-height: 30px;
  float:left;
  margin-bottom: 10px;
}
.right-regi{
  width:358px;
  float:right;
  height: 30px;
  margin-bottom: 10px;
}
.right-regi #id{
  width:290px;
  height: 30px;
}
.right-regi input{
  width:100%;
  height: 30px;
}


.checkID{
  margin-left: 5px;
  cursor: pointer;
}
.checkID:hover{
  color:#bbb;
}


.locations input{
  margin-bottom: 10px;
  width:100%;
  height: 30px;
}
.locations p{
  float:right;
  border: 1px solid #bbb;
  padding: 5px;
  cursor: pointer;
}
#smit{
  bottom: 15px;
  right: 20px;
  position: absolute;
  border: none;
  background-color: #bbb;
  color:#fff;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}



.main-banner{
    width: 1519px;
 margin: 0 auto;
}


.main-banner h1{
    margin-top: 80px;
    text-align: center;
}
.reviews{
    width:1000px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.review-box{
    border: 1px solid #bbb;
    width:490px;
    height: 230px;
    display: flex;
    align-items: center;
}
.review-profile{
    width:160px;
    height: 100%;
    padding:20px;
    float:left;
    text-align: center;
}
.profile-photo{
    margin-top: 40px;
    border: 1px solid #bbb;
    padding: 20px;
    font-size: 60px;
    text-align: center;
}

.review-content{
    width:315px;
    padding:20px;
    margin-right: 10px;
    font-weight: bold;
}
.review-name{
    text-align: center;
    margin-top: 5px;
    padding:5px;
    display: inline-block;
}





/* 메인에 새로넣기 부분 끝 */


/* 푸터 시작*/

footer{
    width:1519px;
    margin-top: 100px;
    height: 100px;
}

.footer-wrap{
    border-top: 1px solid #ddd;
    width:1000px;
    margin: 0 auto;
}
.footer-wrap div{
    margin-top: 10px;
    font-size: 16px;
}


/* 푸터 끝*/


/*로그인 템플릿  */
.loginformwrap{
    width:1519px;
margin: 0 auto;
}

.loginform{
    width:500px;
    margin-top: 100px;
    margin: 0 auto;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
body {
  font-family: "Roboto", sans-serif;
}

.login {
    margin-top: 100px;
  width: 420px;
  background: #ffffff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.login .form {
  display: block;
  position: relative;
}
.login .form h2 {
  background: #f5f5fa;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 40px;
  font-weight: 200;
  color: #9596A2;
  font-size: 19px;
}
.login .form .form-field {
  display: flex;
  align-items: center;
  height: 55px;
  margin: 0 40px 30px 40px;
  border-bottom: 1px solid #9596A2;
}
.login .form .form-field label {
  width: 10px;
  padding: 0 15px 0 0;
  color: #9596A2;
}
.login .form .form-field input {
  width: 100%;
  background: transparent;
  color: #9596A2;
  padding: 15px;
  border: 0;
  margin: 0;
}
.login .form .form-field input + svg {
  width: 35px;
  width: 35px;
  fill: none;
  stroke: #00FCD1;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: -100;

}
.login .form .form-field input:valid + svg {
  stroke-dashoffset: 0;
}
.login .form .form-field input:focus {
  outline: none;
}
.login .form .form-field *::-moz-placeholder {
  color: #9596A2;
}
.login .form .form-field *::placeholder {
  color: #9596A2;
}
.login .form .button {
  width: 100%;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 40px 0px 40px;
  margin: 0;
  border: 0;
  background: transparent;
  outline: none;
}
.login .form .button .arrow-wrapper {
  transition: all 0.45s ease-in-out;
  position: relative;
  margin: 0;
  width: 100%;
  height: 55px;
  right: 0;
  float: right;
  background: linear-gradient(90deg, #04DFBD, #00FCD1);
  box-shadow: 0 3px 20px rgba(0, 252, 209, 0.4);
  border-radius: 12px;
}
.login .form .button .arrow-wrapper .arrow {
  position: absolute;
  top: 50%;
  margin: auto;
  transition: all 0.45s ease-in-out;
  right: 35px;
  width: 15px;
  height: 2px;
  background: none;
  transform: translateY(-50%);
}
.login .form .button .arrow-wrapper .arrow:before {
  position: absolute;
  content: "";
  top: -4px;
  right: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.login .form .button .button-text {
  transition: all 0.45s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  color: #fff;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
}
.login .finished {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
}
.login .finished svg {
  width: 100px;
  width: 100px;
  fill: none;
  stroke: #fff;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: -100;
  transition: all 0.3s ease-in-out 0.5s;
}
.login.loading .form .button .arrow-wrapper {
  width: 55px;
  animation: sk-rotateplane 1.2s infinite ease-in-out 0.5s;
}
.login.loading .form .button .arrow-wrapper .arrow {
  background: #fff;
  transform: translate(15px, 0);
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0.5s;
}
.login.loading .form .button .button-text {
  color: #9596A2;
}

/* 로그인 끝*/



.show{display: block;}












/* 등록폼 */

.sign-wrap{
  width:1519px;
  margin: 0 auto;
}
#signprod{
  width:800px;
  height: 600px;
  margin: 0 auto;
}
.sign-left{
  width:300px;
  height: 400px;
  float:left;
  padding:20px;
  padding-left: 0;
}
.sign-right{
  width:500px;
  height: 400px;
  float:right;
  margin-top: 20px;
  border: 1px solid #bbb;
  padding:20px;
}
#image_container{
  width:250px;
  height: 300px;
  border: 1px solid #bbb;
}

.prod-explan{
  width:800px;
  height: 200px;
  margin-top: 20px;
  border: 1px solid #bbb;
  position: relative;
}

.left-explan{
  width: 120px;
  height: 100%;
  line-height: 200px;
  float:left;
  padding-left: 20px;
}
.right-explan{
  width:678px;
  height: 158px;
  float:left;
}
.right-explan textarea{
  padding: 20px;
  width:100%;
  height: 100%;
  outline: none;
  border: none;
  resize: none;
}
#prod-submit{
  position: absolute;
  right:10px;
  bottom:10px;
  padding: 5px;
  background-color: #bbb;
  border: none;
  color:#fff;
  cursor: pointer;
}
.prod-left{
  width:100px;
  float:left;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.prod-right{
  width:350px;
  float:right;
  margin-bottom: 10px;
}
.prod-right input{
  width:100%;
  height: 30px;
}
.prod-right select{
  width:100%;
  height: 30px;
}
.locationsearch input{
  width:100%;
  margin-bottom: 10px;
  height: 30px;
}

#locationsearchs{
  display: inline;
  border: 1px solid #bbb;
  padding: 5px;
  float:right;
  cursor: pointer;
}




/**/

.article-wrap{
  width:1519px;
  margin: 0 auto;
}
.article-main{
  margin-top: 100px;
  width:800px;
  margin: 0 auto;
}
.article-category{
  margin-top: 50px;
  width:100%;
  height: 50px;
margin-bottom: 80px;
}
.category-explan{
  width:150px;
  float:left;
  height: 50px;
  border: 1px solid #bbb;
  padding: 0 10px;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
.article-category select{
  width:650px;
 height: 50px;
 font-size: 24px;
}

.article-product{
  width:390px;
  height: 300px;
  border: 1px solid #bbb;
float:left;
margin-top: 20px;
cursor: pointer;
padding:20px;
}
.article-product:nth-child(even){
  margin-left: 16px;
}

.article-product{
  font-size: 10px;
}
.article-product span{
  float: right;
}
.article-product h1{
  height: 30px;
  line-height: 30px;
}
.article-product img{
  width:100%;
  height: 200px;
}
.no-article{
  width:800px;
  text-align: center;
}






/**/

.product-wrap{
  width:1519px;
  margin: 0 auto;
}

.product-wrap2{
  width:800px;
  margin: 0 auto;
  position: relative;
}
.left-detail{
  margin-top: 50px;
  width:300px;
  height: 300px;
  border: 1px solid #bbb;
  float:left;
}
.right-detail{
  margin-top: 50px;
  width:478px;
  margin-left: 20px;
  height: 300px;
  float:right;
  border: 1px solid #bbb;
  padding:30px;
}
.detail-header{
  font-weight: bold;
  font-size: 20px;
  height: 38px;
  line-height: 38px;
  margin-bottom: 20px;
}
.headericon{
  position: absolute;
  border: 1px solid #f15151;
  padding: 5px;
  color:#f15151;
  line-height: 0;
  cursor: pointer;
  top:86px;
  right:31px;
}
.right-detail h2{
 border-bottom: 1px solid #bbb;
 padding-bottom: 20px;
}
.product-day{
  margin-top: 20px;
  width: 100%;
  height: 50px;
}
.product-day p:first-child{
float:left;
}
.product-day p:last-child{
  float:right;
  }

  .buywrap{
    margin-top: 20px;
  }
  .leftbtn{
    border: 1px solid #bbb;
    padding:10px;
    float:left;
    width:100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .buybtn{
    border: 1px solid #bbb;
    padding:10px;
    float:right;
    width:100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .buybtn:hover{
    color:#fff;
    background-color: #bbb;
    cursor: pointer;
  }
  .leftbtn:hover{
    color:#fff;
    background-color: #bbb;
    cursor: pointer;
  }

  .detail-info{
    width:800px;
    margin: 0 auto;
  }
  .detail-desc{
    margin-top: 20px;
    width:450px;
    height: 200px;
    float:left;
    border: 1px solid #bbb;
    padding:10px;
    overflow:scroll;
  }
  .product-info{
    margin-left: 20px;
    width:328px;
    height: 200px;
    border: 1px solid #bbb;
    float:right;
    margin-top: 20px;
  }

  .product-info h1{
    height: 33.3%;
    line-height: 66.6px;
    font-size: 20px;
    padding-left: 10px;
  }

  .review{
    width:800px;
    margin: 0 auto;
    min-height: 300px;
    border: 1px solid #bbb;
    margin-top: 30px;
    padding: 20px;

  }
  .leftname{
    width:150px;
    float:left;
    height: 30px;
    line-height: 30px;
    border: 1px solid #bbb;
    border-right: none;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }
  .leftcontent{
    width:608px;
    float:right;
    height: 30px;
    line-height: 30px;
    border: 1px solid #bbb;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }

  .review ul li{
    float:left;
  }

  .reviews-name{
    width:150px;
    float: left;
line-height: 30px;
height: 30px; text-align: center; border:1px solid #bbb;
border-top: none;border-right: none;}
.reviews-content{
  width:591px;
  float:right;
  height: 30px;
  line-height: 30px;
  border: 1px solid #bbb;
  border-top: none;
  text-align: center;
  overflow:auto;
}

.review ul{
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}