<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="/fragment/header.html :: fragment-head"></div>
    <title>Document</title>
</head>
<body>
<div th:replace="/fragment/header.html :: fragment-header"></div>

<div class="loginformwrap">
    <div class="loginform">
        <form action="/users/loginCheck" method="post">
            <div class="login">
                <div class="form">
                    <h2><img src="/image/ajfod.png" width="50" style="vertical-align: bottom;">머랭</h2>
                    <div class="form-field">
                        <label for="login-mail"><i class="fa fa-user"></i></label>
                        <input id="login-mail" type="text" name="userId" placeholder="ID" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                        <svg>
                            <use href="#svg-check" />
                        </svg>
                    </div>
                    <div class="form-field">
                        <label for="login-password"><i class="fa fa-lock"></i></label>
                        <input id="login-password" type="password" name="password" placeholder="Password" minlength="4" required>
                        <svg>
                            <use href="#svg-check" />
                        </svg>
                    </div>
                    <button type="submit" class="button">
                        <div class="arrow-wrapper">
                            <span class="arrow"></span>
                        </div>
                        <p class="button-text">SIGN IN</p>
                    </button>
                </div>
                <div class="finished">
                    <svg>
                        <use href="#svg-check" />
                    </svg>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="/fragment/footer.html :: fragment-footer"></div>

</body>
</html>