<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/header.html :: fragment-head"></div>
    <title>회원가입</title>
    <script>


     $(document).ready(function() {
$("#smit").prop("disabled", true);

document.querySelector("#userId").addEventListener('input', function(event) {
  let inputValue = event.target.value;
  inputValue = inputValue.replace(/[^A-Za-z0-9]/g, '');
  event.target.value = inputValue;
  var submitBtn = $("#smit");
submitBtn.prop("disabled", true);
});

   $(".checkID").click(()=>{
   var check =  $("#userId").val();
   if(check != ""){
    $.ajax({
       method : 'GET',
       url :'/users/check/'+ check
    }).done(function(data){
   alert(data);
   if(data == "사용가능한 아이디 입니당"){
   $("#smit").prop("disabled", false);
   }
    }).fail(function(error){
       return console.log(error);
    })
   }else{
     alert("입력을해줘요");
   }
});



   });
    </script>
    <link href="/css/register.css" rel="stylesheet">
</head>
<body>
<div th:replace="/fragment/header.html :: fragment-header"></div>

<div class="regicontainer">
    <form class="regiform" action="/users/join" method="POST">
        <h1>머랭</h1>
        <div class="left-regi">아이디</div>
        <div class="right-regi"><input type="text" maxlength="10" name="userId" id="userId" style="width:290px;"/><span class="checkID">중복체크</span></div>
        <div class="left-regi">비밀번호</div>
        <div class="right-regi"><input type="text" name="password" /></div>
        <div class="left-regi">이름</div>
        <div class="right-regi"><input type="text" name="name" /></div>
        지역
        <div class="locations">
            <input id="sido" name="sido" type="text" placeholder="시/도" readonly required>
            <input id="sigungu" name="sigungu" type="text" placeholder="시/군/구" readonly>
            <input id="bname" name="bname" type="text" placeholder="동/리" readonly>
            <p onclick="findAddr()">주소검색</p>
        </div>
        <input type="submit" id="smit" value="가입" />

    </form>

<div th:replace="/fragment/footer.html :: fragment-footer"></div>
</body>
<script>
    function findAddr() {
        new daum.Postcode({
            oncomplete: function (data) {

                document.getElementById('sido').value = data.sido;
                document.getElementById('sigungu').value = data.sigungu;
                document.getElementById('bname').value = data.bname;
            }
        }).open();
    }
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</html>