<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/header.html :: fragment-head"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function setThumbnail(event) {
      var reader = new FileReader();

      reader.onload = function (event) {
        $("#image_container").html("");
        var img = document.createElement("img");
        img.setAttribute("src", event.target.result);
        img.setAttribute("class", "col-lg-6");
        img.setAttribute("width", "250");
        img.setAttribute("height", "300");
        document.querySelector("div#image_container").appendChild(img);
      };

      reader.readAsDataURL(event.target.files[0]);
    }
    </script>
    <link href="/css/form.css" rel="stylesheet">
</head>

<body>
<div th:replace="/fragment/header.html :: fragment-header"></div>
<div class="sign-wrap">
    <form id="signprod" method="post" action="/articles/new" enctype="multipart/form-data">
        <div class="sign-left">
            <div id="image_container"></div>
            <p><input type="file" style="margin-top: 10px;" name="image" onchange="setThumbnail(event)" required /></p>
        </div>
        <div class="sign-right">
            <div class="prod-left">상품명</div><div class="prod-right"><input type="text" name="title" required /></div>
            <div class="prod-left">개수</div><div class="prod-right"><input type="number" name="stock" required /></div>
            <div class="prod-left">가격</div><div class="prod-right"><input type="number" name="price" required /></div>
            <div class="prod-left">기간</div><div class="prod-right"><input type="number" name="period" required /></div>
            <div class="prod-left">카테고리</div><div class="prod-right"><select th:name="category">
            <option th:each="categoryValue : ${T(com.murang.rental.data.entity.Category).values()}"
                    th:value="${categoryValue.name()}" th:text="${categoryValue.name()}">
                val
            </option>
        </select></div>
            <div>지역</div>
            <div class="locationsearch">
                <input id="sido" type="text" placeholder="시/도" readonly required>
                <input id="sigungu" type="text" placeholder="시/군/구" readonly>
                <input id="bname" type="text" placeholder="동/리" readonly>
            </div>
            <p id="locationsearchs" onclick="findAddr()"> 주소찾기 </p>

        </div>
        <div style="clear: both;"></div>
        <div class="prod-explan">
            <div class="left-explan">상품정보입력</div>
            <div class="right-explan">
                <textarea name="description"></textarea>

                <input type="submit" value="등록하기" id="prod-submit" />
            </div>

        </div>
        <input type="hidden" name="status" value="0" />
        <input type="hidden" name="id" value="0" />
    </form>
    <div th:replace="/fragment/footer.html :: fragment-footer"></div>

</body>



<script>
    function findAddr() {
        new daum.Postcode({
            oncomplete: function (data) {

                document.getElementById('sido').value = data.sido;
                document.getElementById('sigungu').value = data.sigungu;
                document.getElementById('bname').value = data.bname;
            }
        }).open();
    }
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>